<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaturaExample</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @using Models
    @inject IHttpContextAccessor Accessor
    @{
        User? user = Accessor.HttpContext?.Session.GetObject<User>("LOGIN_USER");
    }
    <header>
        <span id="header-wow">Wow!</span>
        <b>Cool Header :)</b>
        @if(user != null){
            <span>Hello, @user.Email</span>
        }
    </header>

    @* partial view, passing in @user *@
    <partial name="Navbar" model="@user"/>

    <main>
        @RenderBody()
    </main>

    <footer>
        <img src="~/img/csharp.png">
        <i>Cool Footer :)</i>
    </footer>
    
</body>
</html>
