<nav>
    <ul>
        <li> <a href="/home/index">Home</a> </li>
        <li> <a href="/home/aboutus">About Us</a> </li>
        <li> <a href="/user/login">Login</a> </li>
        <li> <a href="/user/register">Register</a> </li>
    </ul>
</nav>