<nav>
    <h2>Partial Navbar-View</h2>
    <ul>
        <li> <a href="/home/index">Home</a> </li>
        <li> <a href="/home/aboutus">About Us</a> </li>
        <li>List Item 3</li>
        <li>List Item 4</li>
    </ul>
</nav>