@model Models.User

@{
    ViewData["Title"] = "Register";
}

register
<form method="post" asp-controller="user" asp-action="register" onsubmit="return validateRegister()">
    <table>
        <thead>
            <tr>
                <th colspan="3">Register</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Email</td>
                <td> <input type="email" asp-for="Email" onblur="validateEmail()"/> </td>
                <td> <span id="EmailErr" asp-validation-for="Email"> </span> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td> <input type="password" asp-for="Password" onblur="validatePassword()"/> </td>
                <td> <span id="PasswordErr" asp-validation-for="Password"> </span> </td>
            </tr>
            <tr>
                <td>PasswordRetype</td>
                <td> <input type="password" asp-for="PasswordRetype" onblur="validatePasswordRetype()"/> </td>
                <td> <span id="PasswordRetypeErr" asp-validation-for="PasswordRetype"> </span> </td>
            </tr>
            <tr>
                <td>Birthdate</td>
                <td> <input type="date" asp-for="Birthdate" onblur="validateBirthdate()"/> </td>
                <td> <span id="BirthdateErr" asp-validation-for="Birthdate"> </span> </td>
            </tr>
            <tr>
                <td colspan="3"> <button type="submit">Submit</button> </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Register</td>
            </tr>
        </tfoot>
    </table>
</form>

<script src="~/js/FormValidation.js" defer></script>