@using Models
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Home Page";

    User? user = Accessor.HttpContext?.Session.GetObject<User>("LOGIN_USER");
}

Home, Index Page

@if(user != null){
    <p>@user.Email</p>
}

<ul>
    <li>Unordered List Entry 1</li>
    <li>Unordered List Entry 2</li>
    <li>Unordered List Entry 3</li>
</ul>

<ol>
    <li>Ordered List Entry 1</li>
    <li>Ordered List Entry 2</li>
    <li>Ordered List Entry 3</li>
</ol>

<p>
    Paragraph, followed by br
</p>
<br>
<p>
    Paragraph below br
</p>
